@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot');                                    /* IE9 Compat Modes */
    src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff2') format('woff2'),                  /* Новейшие браузеры */
         url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff') format('woff'),                    /* Новые браузеры и IE9+ */
         url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf')  format('truetype'),                /* Старые Safari, Android, iOS */
         url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#svgFontName') format('svg');          /* Древние Safari, iOS, Android */
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'Sintony';
    src: url('../fonts/Sintony-Regular/Sintony-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Sintony-Regular/Sintony-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Sintony-Regular/Sintony-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Sintony-Regular/Sintony-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Sintony-Regular/Sintony-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Sintony-Regular/Sintony-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sintony';
    src: url('../fonts/Sintony-Bold/Sintony-Bold.eot');                                    /* IE9 Compat Modes */
    src: url('../fonts/Sintony-Bold/Sintony-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Sintony-Bold/Sintony-Bold.woff2') format('woff2'),                  /* Новейшие браузеры */
         url('../fonts/Sintony-Bold/Sintony-Bold.woff') format('woff'),                    /* Новые браузеры и IE9+ */
         url('../fonts/Sintony-Bold/Sintony-Bold.ttf')  format('truetype'),                /* Старые Safari, Android, iOS */
         url('../fonts/Sintony-Bold/Sintony-Bold.svg#svgFontName') format('svg');          /* Древние Safari, iOS, Android */
    font-weight: 700;
    font-style: normal;
  }